* {
	margin: 0;
	/* border: 1px solid red; */
}
@font-face {
	font-family: 'AvenirNext';
	src: url('AvenirLTS-Book.ttf') format('truetype'),
}

html {
	height: 100%;
}

body {
	background-color: #020a0a;
	height: 100%;
	color: white;
	font-family: 'AvenirNext', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
	padding: 0;
	margin: 0;
	font-family: 'Bebas Neue', cursive;
}
p { font-size: 2rem;}

h1 { font-size: 5rem; }

img {
 	max-width: 100%;
}

.flex-wrapper {
	display: flex;
  	flex-direction: column;
	justify-content: center;
}

.hero {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}


.hero__left,
.hero__right {
    max-width: 42%;
 }

.hero__right {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}


.staytuned {
	min-height: 100vh;
	padding: 5rem 0;
	background: linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ), url("/bg_hero_desktop.png");

	/* Center and scale the image nicely */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #020a0a;
}

.staytuned .logo {
	width: 80%;
}

.meanwhile {
	background-color: white;
	color: black;
	padding: 5rem 4rem;
}

#countdown {
	border: 1px dashed #ffcf00;
	font-size: 4rem;
	width: 100%;
	text-align: center;
	font-family: 'Bebas Neue', cursive;
	padding: 2rem 1rem;
	margin: 20px 0;
}
#countdown > #countdown__days,
#countdown > #countdown__hours,
#countdown > #countdown__minutes,
#countdown > #countdown__seconds {
	font-size: 6rem;
}


@media (max-width: 1200px) {
	.flex-wrapper {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.hero {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;
		flex-direction: column;
	}

	.hero__left { margin-bottom: 40px; }
	.hero__right { max-width: 60%; }
	.hero__right {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.staytuned {
		min-height: 100vh;
		padding: 5rem 0;
		background: linear-gradient(
		rgba(0, 0, 0, 0.3),
		rgba(0, 0, 0, 0.3)
		), url("/bg_hero_desktop.png");

		/* Center and scale the image nicely */
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		background-color: #020a0a;
	}
}


@media (max-width: 992px) {
	.flex-wrapper { justify-content: flex-start; }
	.hero__left { max-width: 50%; }
	.hero__right { max-width: 60%; }
}

@media (max-width: 769px) {
	.hero__left { max-width: 60%; }
	.hero__right { max-width: 80%; }
}

@media (max-width: 577px) {
	.hero__left { max-width: 50%; }
	.hero__right { max-width: 80%; }

	.staytuned {
		background: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)),
			url("/bg_hero_mobile.png");
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		background-color: #020a0a;
	}
	h1 { font-size: 4.5rem; }
	#countdown { font-size: 2.5rem; }
	#countdown > #countdown__days,
	#countdown > #countdown__hours,
	#countdown > #countdown__minutes,
	#countdown > #countdown__seconds {
		font-size: 4rem;
	}
}









nav {
	font-size: 1.5em;
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}

.dropdown-menu li {
	font-size: 1.5em;
}


#user-name {
	font-size: 5em;
	text-transform: uppercase;
}

.user-description {
	border-style: solid;
	border-width: 5px;
	border-color: #292929;
	margin-top: 20px;
	margin-bottom: 1em;
	padding: 15px;
	font-size: initial;
}

.user-profile {
	padding: 0;
}

.user-picture {
	border-style: solid;
	border-width: 5px;
	border-color: #292929;
	margin-top: 20px;
}

i {
	margin: 10px 20px 10px 20px;
	color: white;
}

.post-link {
	float: left;
}

.post-date {
	float: right;
}

.post-header {
	background-color: #F5F5F5;
	overflow: hidden;
	padding: 0 5px 0 5px;
}

.post-summary, .post-content{
	clear: both;
}

.post-summary {
	padding: 0 5px 0 5px;
	font-size: initial;
}

.post-list-footer {
	padding-bottom: 5px;
}

#post-list {
	list-style: none;
	padding-left: 0;
}

.post-list-item {
	margin-top: 20px;
	border-style: solid;
	border-width: 0 0 3px 0;
	border-color: #292929;
}

.post-comments {
	padding-top: 10px;
	border-top-style: solid;
}

.wrapper {
	min-height: 100%;
	margin: 0 auto;
}

.footer {
	background-color: black;
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 100%;
	padding: 10px;
}

.footer p {
	margin: 0 !important;
	font-size: initial;
}

.col-centered{
	float: none;
	margin: 0 auto;
}

div p {
	text-align: justify;
}

td {
	margin: 0 20px 0 20px;
}

/*
 * Some font-size tweaks for smaller screens
 */
@media screen and (max-width: 480px) {
	.user-social {
		font-size: 50%;
	}

	#user-name {
		font-size: 2em;
	}

	nav {
		font-size: 80%;
	}
}

@media screen and (max-width: 320px) {
	.user-social {
		font-size: 40%;
	}

	#user-name {
		font-size: 2em;
	}

	nav {
		font-size: 80%;
	}
}
