<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
	<head>
		<script>
			// Set the date we're counting down to
			var countDownDate = new Date("Aug 25, 2023 17:00:00").getTime();
			const getDistance = () => {
				const dateTo = new Date("Aug 25, 2023 17:00:00").getTime();
				const now = new Date().getTime();
				return dateTo - now;
			}
			const getDays    = () => Math.floor(getDistance() / (1000 * 60 * 60 * 24));
			const getHours   = () => Math.floor((getDistance() % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
			const getMinutes = () => Math.floor((getDistance() % (1000 * 60 * 60)) / (1000 * 60));
			const getSeconds = () => Math.floor((getDistance() % (1000 * 60)) / 1000);

			const getCoutdownValue = (dateTo) => {
				const now = new Date().getTime();
				const distance = dateTo - now;
				// Time calculations for days, hours, minutes and seconds
				const days = Math.floor(distance / (1000 * 60 * 60 * 24));
				const hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
				const minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
				const seconds = Math.floor((distance % (1000 * 60)) / 1000);
			  	return days + " DIAS " + hours + "H " + minutes + "M " + seconds + "S ";
			}
		</script>

		<title> {{ .Site.Title }} </title>

		{{ partial "head.html" . }}

	</head>
	<body>
		<!-- {{ partial "header.html" . }} -->
		<main>
			<section class="staytuned flex-wrapper">
				<article class="container">
					<section class="hero hero--center">
						<section class="hero__left">
							{{ with .Site.Params.ProfilePicture }}
							<div class="text-center">
								<img alt="profile-picture" class="logo" src="{{ . }}">
							</div>
							{{ end }}
						</section>
						<section class="hero__right">
							<h1 class="text-center" style="line-height: 1;">Uniros a nosotros </h1>
							<h2 class="text-center" >y juntos dominaremos la galaxia...</h2>
							<hr class="yellow-divider" />
							<p class="text-center">Preparaos para saltar al hiper espacio en:</p>
							<div class="staytuned__content text-center">
							</div>
							<span id="countdown">
								<span id="countdown__days"></span>&nbsp;DIAS&nbsp;&nbsp;
								<span id="countdown__hours"></span>H&nbsp;&nbsp;
								<span id="countdown__minutes"></span>M&nbsp;&nbsp;
								<span id="countdown__seconds"></span>S
							</span>
						</section>
					</section>
				</article>
			</section>
			<section class="meanwhile flex-wrapper">
				<article class="container">
					<h2>Que hacer mientras esperas?</h2>
					<p>Sabemos que aún quedan tiempo para el gran dia, pero el tiempo vuela! Aquí os dejamos algunas ideas para que podais estar preparados.</p>
					<ul>
						<li>Empieza a mirar vestidos.</li>
						<li>Come bien! Aqui os dejamos una lista de restaurantes para que podais practicar:</li>
							<ul>
								<li>StreetXo</li>
								<li>Disfrutar **</li>
								<li>La biblioteca *</li>
								<li>Taco bell</li>
								<li>Foster's hollywood</li>
							</ul>
						<li>Abrir un grupo de whatsapp para orgarnizar las despedidas! Tips:</li>
						<ul>
							<li>Buscar una fecha con tiempo</li>
							<li>No silenciar el grupo</li>
							<li>Organizar una despedida no está pagado. Por favor, colabora con los organizadores con las preguntas que puedan tener.</li>
						</ul>
					</ul>
				</article>
			</section>

			<!-- <h1 id="user-name">{{ .Site.Params.Name }}</h1> -->
			{{ if .Site.Params.blogOnIndex }}
			<div class="row">
				<div class="col-xs-12 text-center">
					<h1>Blog</h1>
				</div>
			</div>
			{{ partial "postlist.html" . }}
			{{ end }}
		</main>
		{{ partial "social.html" . }}
		{{ partial "footer.html" . }}
		<script>
			// Update the count down every 1 second
			var x = setInterval(function() {
				const countdownValue = getCoutdownValue(countDownDate);
				document.getElementById("countdown__days").innerHTML = getDays();
				document.getElementById("countdown__hours").innerHTML = getHours();
				document.getElementById("countdown__minutes").innerHTML = getMinutes();
				document.getElementById("countdown__seconds").innerHTML = getSeconds();
				// If the count down is finished, write some text
				if (countdownValue < 0) {
					clearInterval(x);
					document.getElementById("countdown").innerHTML = "Party time!!";
				}
			}, 1000);
		</script>
	</body>
</html>
